{% load static %}
<div class='container-fluid'>
    <div class='row'>
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'css/images/organic_logo_3.png' %}" class="img-fluid"> 
        </div>
        <div class='col-lg-6 col-md-6 col-12 p-lg-2 my-5'>
            <h1>ABOUT US</h1>
            <p>At Spice Heaven, we believe that the essence of every dish lies in its seasoning. Our journey began with a simple mission: to bring the finest, most aromatic spices from around the world directly to your kitchen. With a commitment to quality and authenticity, we source our spices from trusted farmers and suppliers who share our passion for excellence. Each spice is carefully selected, processed, and packaged to ensure that you experience the freshest and most vibrant flavors in your culinary creations. Whether you're a professional chef or a home cook, our diverse range of spices is designed to inspire and elevate your cooking. Join us in our quest to spice up the world, one dish at a time.</p>
        </div>
    </div>
</div>
