{% load static %}
<div class='container m-5'>
    <h1 class='text-center my-5'>OUR PRODUCTS</h1>
    <div class='row'>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/red_chilli_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">RED CHILLI POWDER - ₹65/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/turmeric.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">TURMERIC POWDER - ₹71.5/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/garam_masala.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">GARAM MASALA POWDER - ₹107/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/amchur_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">AMCHUR POWDER - ₹96/100g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/asafoetida_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">ASAFOETIDA POWDER - ₹275/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/coriander_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">CORIANDER POWDER - ₹42.5/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/jeera_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">JEERA POWDER - ₹160/250g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/nutmeg_powder.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">NUTMEG POWDER - ₹272/100g</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-12'>
            <div class="card" style="width: 18rem;">
                <img src="{% static 'css/images/tea_masala.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">TEA MASALA POWDER - ₹270/1kg</h5>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>


    </div>
</div>